.tcard{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 50px;
	background-color: var(--card--bg);
	border-radius: 15px;
}
.tcard img{
	width: 100px;
}